nav {
    text-align: center;
    background-color: black;
    padding: 1rem 0;
}

nav a, nav a:not(:hover) {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: rgba(255,255,255,.6);
    transition: all .3s ease;
}

nav a:hover {
    color: white;
}

nav a.active {
    color: white;
}