.NewGame {
    display: block;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border: white 2px solid;
    cursor: pointer;
    padding: .15rem .75rem;
    transition: all ease .3s;
    border-radius: 15px;
}

.NewGame:hover{
    color: black;
    background-color: white;;
}