.ResetBoardButton, .ResetBoardButton:not(:hover) {
    display: block;
    font-size: 1.2rem;
    margin: 1rem auto;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    padding: .15rem .65rem;
    cursor: pointer;
    transition: all .3s ease;
}

.ResetBoardButton:hover {
    color: black;
    background-color: white;
}