/* .DogApp {
    text-align: center;
    margin: 1rem 0;
} */

/* .DogNav a{
    text-align: center;
    margin: 0 1rem;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, .6);
}

.DogNav a.active {
    color: white;
} */